<!-- Notification  -->
<div *ngIf="notificationMessage.length != 0" class="bg-red-500 p-4 rounded-lg shadow-lg">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <!-- <svg class="h-6 w-6 text-white mr-2" viewBox="0 0 24 24" fill="none" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg> -->
      <span class="text-white font-medium">{{ notificationMessage }}</span>
    </div>
    <button class="text-white hover:text-gray-200 focus:outline-none focus:text-gray-200" aria-label="Close">
      <svg (click)="closeNotification()" class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>
</div>
<div class="overflow-x-auto mx-6 my-6 ">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-auto w-full">
    <thead>
      <tr class="bg-gray-200">
        <th class="px-4 py-2">#</th>
        <th class="px-4 py-2">Created Date</th>
        <th class="px-4 py-2">Updated Date</th>
        <th class="px-4 py-2">Post ID</th>
        <th class="px-4 py-2">Title</th>
        <th class="px-4 py-2">Slug</th>
        <th class="px-4 py-2">Views</th>
        <th class="px-4 py-2">Status</th>
        <th class="px-4 py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let blog of writerPostManangementService.allBlogs; index as i" class="border-b border-gray-200">
        <td class="px-4 py-2">{{ i + 1 }}</td>
        <td class="px-4 py-2">{{ blog.createdAt | date : 'short' }}</td>
        <td class="px-4 py-2">{{blog.updatedAt | date : 'short' }}</td>
        <td class="px-4 py-2">{{blog._id}}</td>
        <td class="px-4 py-2">{{blog.title}}</td>
        <td class="px-4 py-2">{{blog.slug}}</td>
        <td class="px-4 py-2">{{blog.pageviews}}</td>
        <td class="px-4 py-2" [ngClass]="{'text-red-600': blog.status === 'rejected', 'text-blue-600': blog.status === 'published', 'text-yellow-400':blog.status === 'pending'}">{{blog.status}}</td>
        <td class="px-4 py-2">
          <button routerLink="/writer/edit/{{blog._id}}" class="text-blue-600 hover:text-blue-800">Edit</button>
          <button (click)="deleteBlog(blog._id)" class="ml-2 text-red-600 hover:text-red-800">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>