<div class="overflow-x-auto">
    <table class="table-auto w-full">
        <thead>
            <tr class="bg-gray-200">
                <th class="px-4 py-2">#</th>
                <th class="px-4 py-2">Commented Date</th>
                <th class="px-4 py-2">Comment Id</th>
                <th class="px-4 py-2">Comment</th>
                <th class="px-4 py-2">Blog Id</th>
                <th class="px-4 py-2">Name of User</th>
                <th class="px-4 py-2">Email</th>
                <th class="px-4 py-2">Status</th>
                <th class="px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of comments; index as i" class="border-b border-gray-200">
                <td class="px-4 py-2">{{ i + 1 }}</td>
                <td class="px-4 py-2">{{item.comments.created | date : 'short' }}</td>
                <td class="px-4 py-2">{{item.comments._id }}</td>
                <td class="px-4 py-2">{{item.comments.message }}</td>
                <td class="px-4 py-2">{{ item._id }}</td>
                <td class="px-4 py-2">{{item.user_details.name }}</td>
                <td class="px-4 py-2">{{item.user_details.email }}</td>
                <td class="px-4 py-2">{{item.user_details.status }}</td>
                <td class="px-4 py-2">
                    <div class="flex items-center justify-between">
                        <button (click)="blockUser(item.user_details._id)"
                            class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                            Block User
                        </button>
                        <button (click)="removeComment(item._id, item.comments._id)"
                            class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
                            Remove Comment
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>