<div class="overflow-x-auto  mx-6 my-6">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-auto w-full">
        <thead>
            <tr class="bg-gray-200">
                <th class="px-4 py-2">#</th>
                <th class="px-4 py-2">Creator Id</th>
                <th class="px-4 py-2">Creator Name</th>
                <th class="px-4 py-2">Email</th>
                <th class="px-4 py-2">Phone Number</th>
                <th class="px-4 py-2">Status</th>
                <th class="px-4 py-2"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let creator of creators; index as i" class="border-b border-gray-200">
                <td class="px-4 py-2">{{ i + 1 }}</td>
                <td class="px-4 py-2">{{ creator._id }}</td>
                <td class="px-4 py-2">{{ creator.name }}</td>
                <td class="px-4 py-2">{{ creator.email }}</td>
                <td class="px-4 py-2">{{ creator.phone }}</td>
                <td class="px-4 py-2"
                    [ngClass]="{'text-red-600': creator.status  === 'blocked', 'text-blue-600': creator.status  === 'active'}">
                    {{ creator.status }}</td>
                <td class="px-4 py-2">
                    <div class="flex items-center">
                        <button *ngIf="creator.status == 'active'" (click)=" blockUser(creator._id)"
                            class="text-red-600 hover:text-red-800 px-4 py-2 rounded mx-2 my-2">Block</button>
                        <button *ngIf="creator.status == 'blocked'" (click)="unBlockUser(creator._id)"
                            class="text-blue-600 hover:text-blue-800 px-4 py-2 rounded mx-2 my-2">Unblock</button>
                        <button (click)="dismissCreator(creator._id)"
                            class="text-blue-600 hover:text-blue-800 px-4 py-2 rounded mx-2 my-2">Dismiss
                            Writer</button>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
</div>