<section *ngIf="show" class="flex bg-slate-900 absolute top-0 left-0 h-screen w-full z-50 bg-opacity-70">
  <!-- Modal -->
  <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <!-- Background overlay -->
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

      <!-- Modal panel -->
      <div
        class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
        <form class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4" [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Edit Profile</h3>
            <p class="mt-1 text-sm text-gray-500">Please enter your updated information.</p>
          </div>
          <div class="mt-4">
            <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
            <div class="mt-1">
              <label for="file-input"
                class="inline-block px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md cursor-pointer hover:bg-gray-50 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:ring-offset-1">
                Update image <input id="file-input" type="file" (change)="onFileSelected($event)">
              </label>
              <!-- <input formControlName="name" type="text" name="name" id="name"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                placeholder="" [(ngModel)]="profileDetails.name" value="{{ profileDetails.name }}"> -->
            </div>
          </div>


          <div class="mt-4">
            <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
            <div class="mt-1">
              <input formControlName="name" type="text" name="name" id="name"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                placeholder="" [(ngModel)]="profileDetails.name" value="{{ profileDetails.name }}">
            </div>
          </div>
          <div class="mt-4">
            <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
            <div class="mt-1">
              <input formControlName="email" type="email" name="email" id="email"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                placeholder="" [(ngModel)]="profileDetails.email" value="{{ profileDetails.email }}">
            </div>
          </div>
          <div class="mt-4">
            <label for="phone" class="block text-sm font-medium text-gray-700">Phone number</label>
            <div class="mt-1">
              <input formControlName="phone" type="tel" name="phone" id="phone"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                placeholder="" [(ngModel)]="profileDetails.phone" value="{{profileDetails.phone}}">
            </div>
          </div>
          <div class="mt-4 flex justify-end">
            <button type="submit"
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Save Changes
            </button>
            <button type="button" (click)="emitCloseModalEvent()"
              class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-gray-700 bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>